<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>

    <div class="center">
      <div id="social-test">
      <ul class="social">
        <li><a href="https://twitter.com/saliudev"><i class="fa fa-twitter" style="font-size:36px"></a></i></li>
        <li><a href="https://github.com/saliudev"><i class="fa fa-github" style="font-size:36px"></a></i></li>
        <li><a href="https://scholar.google.com/citations?user=YiBs6ucAAAAJ&#038;hl=en"><i class="fa fa-graduation-cap" style="font-size:36px"></a></i></li>
        <li><a href="https://www.linkedin.com/in/liusa/"><i class="fa fa-linkedin-square" style="font-size:36px"></a></i></li>
          

      </ul>
     
      </div>
    </div>

  </footer>
  </body>

</html>
