<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>





  <div class="center">
    <div id="social-test">
    <ul class="social">
      <li><a href="https://twitter.com/saliudev"><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
      <li><a href="https://github.com/saliudev"><i class="fa fa-github" aria-hidden="true"></a></i></li>
      <li><a href="https://scholar.google.com/citations?user=YiBs6ucAAAAJ&#038;hl=en"><i class="fa fa-graduation-cap" style="font-size:36px"></a></i></li>
        

    </ul>
   
    </div>
  </div>




   <ul class="jetpack-social-widget-list size-large">

        
            <li class="jetpack-social-widget-item">
              <a href="https://scholar.google.com/citations?user=YiBs6ucAAAAJ&#038;hl=en" target="_self">
                <span class="screen-reader-text">Google</span><svg class="icon icon-google" aria-hidden="true" role="img"> <use href="#icon-google" xlink:href="#icon-google"></use> </svg>             </a>
            </li>
          
        
                      <li class="jetpack-social-widget-item">
              <a href="https://twitter.com/liusashmily" target="_self">
                <span class="screen-reader-text">Twitter</span><svg class="icon icon-twitter" aria-hidden="true" role="img"> <use href="#icon-twitter" xlink:href="#icon-twitter"></use> </svg>             </a>
            </li>
          
        
                      <li class="jetpack-social-widget-item">
              <a href="https://www.linkedin.com/in/liusa/" target="_self">
                <span class="screen-reader-text">LinkedIn</span><svg class="icon icon-linkedin" aria-hidden="true" role="img"> <use href="#icon-linkedin" xlink:href="#icon-linkedin"></use> </svg>             </a>
            </li>
          
        
                      <li class="jetpack-social-widget-item">
              <a href="https://www.researchgate.net/profile/Sa_Liu6" target="_self">
                <svg class="icon icon-chain" aria-hidden="true" role="img"> <use href="#icon-chain" xlink:href="#icon-chain"></use> </svg>              </a>
            </li>
          
        
      </ul>

  </footer>
  </body>

</html>
